In [1]:
import os
import numpy as np
import pandas as pd 
#this is a comment

In [2]:
os.chdir("E:\\FORE\\Term 2\\Python\\Jupyter Notebook")
#os.chdir("E:/FORE/Term 2/Python/Jupyter Notebook")

In [3]:
os.listdir()

['advertising.csv', 'auto-mpg.data', 'IPL IMB381IPL2013.csv', 'testset.csv']

In [4]:
os.listdir()

['advertising.csv', 'auto-mpg.data', 'IPL IMB381IPL2013.csv', 'testset.csv']

In [5]:
df=pd.read_csv("testset.csv")

In [6]:
df

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [7]:
df.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [9]:
df.shape

(100990, 20)

In [10]:
df.tail()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [11]:
df.info

<bound method DataFrame.info of           datetime_utc  _conds   _dewptm   _fog   _hail   _heatindexm   _hum  \
0       19961101-11:00   Smoke       9.0      0       0           NaN   27.0
1       19961101-12:00   Smoke      10.0      0       0           NaN   32.0
2       19961101-13:00   Smoke      11.0      0       0           NaN   44.0
3       19961101-14:00   Smoke      10.0      0       0           NaN   41.0
4       19961101-16:00   Smoke      11.0      0       0           NaN   47.0
...                ...     ...       ...    ...     ...           ...    ...
100985  20170424-06:00    Haze      17.0      0       0           NaN   25.0
100986  20170424-09:00    Haze      14.0      0       0           NaN   16.0
100987  20170424-12:00    Haze      12.0      0       0           NaN   14.0
100988  20170424-15:00    Haze      15.0      0       0           NaN   27.0
100989  20170424-18:00    Haze      15.0      0       0           NaN   30.0

         _precipm   _pressurem   _rain   _snow   _tempm   _thunder   _tornado  \
0             NaN       1010.0       0       0     30.0          0          0
1             NaN      -9999.0       0       0     28.0          0          0
2             NaN      -9999.0       0       0     24.0          0          0
3             NaN       1010.0       0       0     24.0          0          0
4             NaN       1011.0       0       0     23.0          0          0
...           ...          ...     ...     ...      ...        ...        ...
100985        NaN       1005.0       0       0     34.0          0          0
100986        NaN       1003.0       0       0     38.0          0          0
100987        NaN       1002.0       0       0     36.0          0          0
100988        NaN       1004.0       0       0     32.0          0          0
100989        NaN       1005.0       0       0     30.0          0          0

         _vism   _wdird  _wdire   _wgustm   _windchillm   _wspdm
0          5.0    280.0    West       NaN           NaN      7.4
1          NaN      0.0   North       NaN           NaN      NaN
2          NaN      0.0   North       NaN           NaN      NaN
3          2.0      0.0   North       NaN           NaN      NaN
4          1.2      0.0   North       NaN           NaN      0.0
...        ...      ...     ...       ...           ...      ...
100985     4.0    320.0      NW       NaN           NaN     11.1
100986     4.0    320.0      NW       NaN           NaN     22.2
100987     4.0    270.0    West       NaN           NaN     18.5
100988     2.0    320.0      NW       NaN           NaN      3.7
100989     2.0    320.0      NW       NaN           NaN      3.7

[100990 rows x 20 columns]>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100990 entries, 0 to 100989
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datetime_utc  100990 non-null  object
 1    _conds       100918 non-null  object
 2    _dewptm      100369 non-null  float64
 3    _fog         100990 non-null  int64
 4    _hail        100990 non-null  int64
 5    _heatindexm  29155 non-null   float64
 6    _hum         100233 non-null  float64
 7    _precipm     0 non-null       float64
 8    _pressurem   100758 non-null  float64
 9    _rain        100990 non-null  int64
 10   _snow        100990 non-null  int64
 11   _tempm       100317 non-null  float64
 12   _thunder     100990 non-null  int64
 13   _tornado     100990 non-null  int64
 14   _vism        96562 non-null   float64
 15   _wdird       86235 non-null   float64
 16   _wdire       86235 non-null   object
 17   _wgustm      1072 non-null    float64
 18   _windchillm  579 non-null     float64
 19   _wspdm       98632 non-null   float64
dtypes: float64(11), int64(6), object(3)
memory usage: 15.4+ MB

In [13]:
df.dtypes

datetime_utc     object
 _conds          object
 _dewptm        float64
 _fog             int64
 _hail            int64
 _heatindexm    float64
 _hum           float64
 _precipm       float64
 _pressurem     float64
 _rain            int64
 _snow            int64
 _tempm         float64
 _thunder         int64
 _tornado         int64
 _vism          float64
 _wdird         float64
 _wdire          object
 _wgustm        float64
 _windchillm    float64
 _wspdm         float64
dtype: object

In [14]:
df.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [15]:
len(df.columns)

20

In [16]:
xx=df.values

In [17]:
xx

array([['19961101-11:00', 'Smoke', 9.0, ..., nan, nan, 7.4],
       ['19961101-12:00', 'Smoke', 10.0, ..., nan, nan, nan],
       ['19961101-13:00', 'Smoke', 11.0, ..., nan, nan, nan],
       ...,
       ['20170424-12:00', 'Haze', 12.0, ..., nan, nan, 18.5],
       ['20170424-15:00', 'Haze', 15.0, ..., nan, nan, 3.7],
       ['20170424-18:00', 'Haze', 15.0, ..., nan, nan, 3.7]], dtype=object)

In [18]:
type(xx)

numpy.ndarray

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.columns=df.columns.str.replace("_","")

In [21]:
df

,datetimeutc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [22]:
df.columns=df.columns.str.lstrip()

In [23]:
df.head()

,datetimeutc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [24]:
df.columns

Index(['datetimeutc', 'conds', 'dewptm', 'fog', 'hail', 'heatindexm', 'hum',
       'precipm', 'pressurem', 'rain', 'snow', 'tempm', 'thunder', 'tornado',
       'vism', 'wdird', 'wdire', 'wgustm', 'windchillm', 'wspdm'],
      dtype='object')

In [25]:
df.fog

0         0
1         0
2         0
3         0
4         0
         ..
100985    0
100986    0
100987    0
100988    0
100989    0
Name: fog, Length: 100990, dtype: int64

In [26]:
df['conds']

0         Smoke
1         Smoke
2         Smoke
3         Smoke
4         Smoke
          ...
100985     Haze
100986     Haze
100987     Haze
100988     Haze
100989     Haze
Name: conds, Length: 100990, dtype: object

In [27]:
df['hail'][:12]

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
Name: hail, dtype: int64

In [28]:
df.[[0:4]]

SyntaxError: invalid syntax (<ipython-input-28-9a5ed73d503b>, line 1)

In [29]:
df.[['fog','hail','precipm']]

SyntaxError: invalid syntax (<ipython-input-29-ede14ed1da86>, line 1)

In [30]:
df[['fog','hail','precipm']]

        fog  hail  precipm
0         0     0      NaN
1         0     0      NaN
2         0     0      NaN
3         0     0      NaN
4         0     0      NaN
...     ...   ...      ...
100985    0     0      NaN
100986    0     0      NaN
100987    0     0      NaN
100988    0     0      NaN
100989    0     0      NaN

[100990 rows x 3 columns]

In [31]:
df.loc[:10,'fog','hum']]

SyntaxError: unmatched ']' (<ipython-input-31-72037f117a45>, line 1)

In [32]:
df.loc[:10,['fog','hum']]

    fog   hum
0     0  27.0
1     0  32.0
2     0  44.0
3     0  41.0
4     0  47.0
5     0  56.0
6     0  60.0
7     0  60.0
8     0  68.0
9     0  68.0
10    0  68.0

In [33]:
df['hum'].unique

<bound method Series.unique of 0         27.0
1         32.0
2         44.0
3         41.0
4         47.0
          ...
100985    25.0
100986    16.0
100987    14.0
100988    27.0
100989    30.0
Name: hum, Length: 100990, dtype: float64>

In [34]:
df['hum'].unqiue()

AttributeError: 'Series' object has no attribute 'unqiue'

In [35]:
df['fog'].unique()

array([0, 1], dtype=int64)

In [36]:
df['conds'].unique()

array(['Smoke', 'Clear', 'Haze', 'Unknown', 'Scattered Clouds',
       'Shallow Fog', 'Mostly Cloudy', 'Fog', 'Partly Cloudy',
       'Patches of Fog', 'Thunderstorms and Rain', 'Overcast', 'Rain',
       'Light Rain', 'Light Drizzle', 'Drizzle', 'Mist', 'Volcanic Ash',
       'Thunderstorm', 'Light Thunderstorms and Rain',
       'Light Thunderstorm', 'Squalls', 'Heavy Rain', 'Light Haze',
       'Sandstorm', 'Widespread Dust', 'Funnel Cloud',
       'Heavy Thunderstorms and Rain', 'Heavy Thunderstorms with Hail',
       'Light Rain Showers', 'Thunderstorms with Hail', nan,
       'Partial Fog', 'Light Fog', 'Heavy Fog', 'Blowing Sand',
       'Light Hail Showers', 'Light Sandstorm', 'Light Freezing Rain',
       'Rain Showers'], dtype=object)

In [37]:
len(df['conds'].unique())

40

In [38]:
df['fog'].memory_usage()

808048

In [39]:
df['fog'].astype("uint8")

0         0
1         0
2         0
3         0
4         0
         ..
100985    0
100986    0
100987    0
100988    0
100989    0
Name: fog, Length: 100990, dtype: uint8

In [40]:
df['fog'].memory_usage()

808048

In [41]:
df['fog'].astype("uint8").memory_usage()

101118

In [42]:
df.select_dtypes(include=['int64','float64']).columns

Index(['dewptm', 'fog', 'hail', 'heatindexm', 'hum', 'precipm', 'pressurem',
       'rain', 'snow', 'tempm', 'thunder', 'tornado', 'vism', 'wdird',
       'wgustm', 'windchillm', 'wspdm'],
      dtype='object')

In [43]:
andf= df.select_dtypes(include=['int64'])

In [44]:
andf

        fog  hail  rain  snow  thunder  tornado
0         0     0     0     0        0        0
1         0     0     0     0        0        0
2         0     0     0     0        0        0
3         0     0     0     0        0        0
4         0     0     0     0        0        0
...     ...   ...   ...   ...      ...      ...
100985    0     0     0     0        0        0
100986    0     0     0     0        0        0
100987    0     0     0     0        0        0
100988    0     0     0     0        0        0
100989    0     0     0     0        0        0

[100990 rows x 6 columns]

In [45]:
for i in andf:
    andf[i] = andf[i].astype('uint32')

<ipython-input-45-f7b88ef30654>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  andf[i] = andf[i].astype('uint32')

In [46]:
andf.memory_usage()

Index         128
fog        403960
hail       403960
rain       403960
snow       403960
thunder    403960
tornado    403960
dtype: int64

In [47]:
df.describe() #describes numeric values of data set

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,100369.000000,100990.000000,100990.000000,29155.000000,100233.000000,0.0,1.007580e+05,100990.000000,100990.000000,100317.000000,100990.000000,100990.00000,96562.000000,86235.000000,1072.000000,579.000000,98632.000000
mean,15.741205,0.069690,0.000129,35.651710,57.909481,NaN,1.932331e+03,0.026260,0.000010,25.451269,0.009427,0.00002,2.402774,163.549974,37.671175,5.713817,7.678463
std,7.058587,0.254625,0.011345,5.015384,23.807771,NaN,3.183786e+05,0.159908,0.003147,8.482859,0.096633,0.00445,20.746028,120.002076,6.848666,1.203290,11.932157
min,-24.000000,0.000000,0.000000,26.800000,4.000000,NaN,-9.999000e+03,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,25.900000,2.100000,0.000000
25%,10.000000,0.000000,0.000000,31.700000,39.000000,NaN,1.002000e+03,0.000000,0.000000,19.000000,0.000000,0.00000,1.500000,50.000000,33.300000,4.900000,0.000000
50%,15.000000,0.000000,0.000000,35.100000,59.000000,NaN,1.008000e+03,0.000000,0.000000,27.000000,0.000000,0.00000,2.000000,160.000000,37.000000,6.100000,7.400000
75%,22.000000,0.000000,0.000000,39.200000,78.000000,NaN,1.014000e+03,0.000000,0.000000,32.000000,0.000000,0.00000,3.000000,270.000000,40.700000,6.800000,11.100000
max,75.000000,1.000000,1.000000,73.600000,243.000000,NaN,1.010614e+08,1.000000,1.000000,90.000000,1.000000,1.00000,6436.000000,960.000000,92.600000,7.300000,1514.900000